.form {
  .top,
  .bottom {
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    //adding box shadow
    margin: 20px;
    display: flex;
    h1 {
      font-size: 16px;
      color: #2196f3;
    }
    .left {
      flex: 1;
      text-align: center;
      //only one element here so makes sense to use texr align
      //instead of flexbox
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .right {
      flex: 2;
      .formInput {
        margin: 5px;
        label {
          font-size: 14px;
          font-weight: bold;
          color: #2196f3;
          //can't change label margin here
        }
        input[type="text"],
        input[type="range"],
        textArea,
        select {
          width: 95%;
          margin-top: 5px;
          margin-bottom: 15px;
          resize: none;
          //only relevant to textArea
        }
      }
      #imageSelector {
        display: flex;
        align-items: center;
      }
      .submitForm {
        width: 85%;
        height: 100px;
        margin-top: 15px;
        //no need to use flexbox, same scenario as line 17
        text-align: center;
        button {
          background-color: white;
          font-weight: bold;
          font-size: 16px;
          color: #2196f3;
          width: 150px;
          height: 30px;
          border: solid 2px #2196f3;
          border-radius: 5px;
          &:hover {
            background-color: #2196f3;
            color: white;
          }
        }
      }
    }
  }
}
