.form {
  .top,
  .bottom {
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    //adding box shadow
    margin: 20px;
    display: flex;
    h1 {
      font-size: 20px;
      color: lightgray;
    }
    .left {
      flex: 1;
      text-align: center;
      //only one element here so makes sense to use texr align
      //instead of flexbox
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .right {
      flex: 2;
      .formInput {
        margin: 5px;
        //can't style label elements
        input {
          margin-bottom: 20px;
        }
      }
    }
  }
}
