.sidebar {
  flex: 1;
  min-height: 100vh;
  border-right: 1px solid rgb(231, 228, 228);
  background-color: white;
  //affects height of home container too coz of flexbox
  //might need to add bgcolor later when implementing dark mode
  .top {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #2196f3;
    //centers logo child vertically
    justify-content: center;
    //centers logo child horizontally
    //pay attention to syntax of 9 and 11
    .logo {
      color: white;
      font-weight: bold;
      font-size: 20px;
    }
  }
  hr {
    border: 0.5px solid #2196f3;
    margin-bottom: 8px;
  }
  .rest {
    padding-left: 10px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      //reset ul's margin and padding
      //only padding is line 26's for entire center div
      .title {
        color: #2196f3;
        font-size: 10px;
        font-weight: bold;
        margin-top: 35px;
        margin-bottom: 5px;
      }
      li {
        //flexcontainer for icon class elements
        display: flex;
        align-items: center;
        padding: 5px;
        margin-bottom: 40px;
        .icon {
          font-size: 18px;
          color: #2196f3;
        }
        .text {
          font-size: 13px;
          color: #999;
          margin-left: 10px;
        }
      }
    }
  }
}
